    <img [src]="getImageUrl()"/>
  <div class="cart-product-info">
    <h3 class='cart-label'>{{jacket.label}}</h3>
    <div class="cart-product-i">
        <h4 *ngIf="!cartService.flagChange">{{'Amount' | translate}}:{{jacket.amount}}</h4>
        <input type="number" name="amount" class="change-input" *ngIf="cartService.flagChange" [(ngModel)]="amount">
        <strong class="cart-price">{{'Price' | translate}}{{jacket.amount * jacket.price}}</strong>
        <button mat-raised-button color="warn" class="remove" (click)="remove(jacket.id)" id='{{jacket.id}}'>{{'Remove' | translate}}</button>
        <button mat-raised-button color="warn" class="apply" (click)="apply()" *ngIf="!cartService.flagChange" id='{{jacket.id}}'>{{'Change' | translate}}</button>
        <button mat-raised-button color="warn" class="apply" (click)="apply()" *ngIf="cartService.flagChange" id='{{jacket.id}}'>{{'Apply' | translate}}</button>
    </div>
  </div>