#main { 
    float: left;
    width: 1200px;
    margin: 25px;

    #no-product h4{
        font-style: italic;
        font-size: 100px;
        color: #808080;
        text-shadow: 2px 7px 15px;
        margin-left: 160px;
    }
}