.product-in-cart{
    float: left;
    max-width: 800px;
    min-height: 274px;
    margin-left: 20px;

    li { 
        position: relative;
        margin: 5px;
        padding: 1px;
        border: solid 1px #dedede;
        float: left;
        height: 260px;
        overflow: hidden; 
        border-radius: 20px 10px 5px 0;
        min-width: 190px;
    } 
}

    
