.products {
    float: right;
    width: 760px;
    margin-right: 100px;

    ul li {
        position: relative;
        padding: 1px;
        border: solid 1px #dedede;
        width: 231px;
        margin: 5px;
        height: 383px;
        overflow: hidden;
        border-radius: 20px 10px 5px 0;
        display: inline-block;
        overflow: hidden;
 
    }
}

