.cart-info {
    float: left;
    margin-left: 100px;
    margin-top: 5px;
    border: solid 1px #dedede;
    min-width: 210px;
    height: 210px;
    border-radius: 4px 4px 15px 15px;

    h1 {
        padding: 5px;
        background: #8b0000;
        color: #fff;
        border-radius: 4px 4px 0px 0px;
        font-size: xx-large;
    }

    .cart-info-price {
        width: 180px;
        height: 120px;

        h4 {
            height: 0px;
            padding: 12px;
            color: #808080;
            font-weight: 600;
        }

        h3 {
            height: 0px;
            padding: 12px;
            color: #808080;
            font-weight: 600;
        }
    }

    .button {
        margin-top: 5px;
        margin-left: 5px;
    }
    
    .mat-raised-button{
        margin-top: 2px;
        height: 25px;
        min-width: 30px;
        background-color: #8b0000;
        line-height: 0px;
        padding: 0px;
    }

    .remove-all{
        margin-left: 3px;
    }

    .plase-order {
        position: absolute;
        top: 20%;
        left: 40%;
        width: 500px;
        line-height: 60px;
        height: 350px;
        margin-left: -100px;
        margin-top: -30px;
        background-color: #dedede;
        text-align: center;
        border-radius: 10px;
        z-index: 10; 
        box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
        
        h4{
            padding: 5px;
            background: #8b0000;
            color: #fff;
            border-radius: 10px 10px 0px 0px;
            font-size: 30pt;
        }
            
        .enter{
            height: 210px;

            h3{
                height: 40px;
                color: #808080;
            }
            
            .user-name{
                width: 320px;
                height: 25px;
                font-size: 110%; 
            }
            
            .phone-number{
                width: 320px;
                height: 25px;
                font-size: 110%; 
            }
            
        }
    }
}